version: "3"
services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ${PWD}/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090

  product-ads:
    build: ./product-ads
    image: prashantpro/product-ads:1.0
    ports:
      - 8080:8080

  product-catalogs:
    build: ./product-catalogs
    image: prashantpro/product-catalogs:1.0
    ports:
      - 9080:9080
      - 9443:9443




